j <input type="radio" name="01" value="0" checked/>
o <input type="radio" name="01" value="1"/>

<label for="check1">컴퓨터공학과</label>
<label for="check2">컴퓨터공학과</label>


남성 <input type="radio" name="gender" value="male" checked />
여성 <input type="radio" name="gender" value="female" />