#wrap{
  width: 1200px;
  margin:0 auto;
  min-height: 100%;
}

header{
  
  overflow: hidden;
  margin-bottom: 20px;

}

header h1{
  float:left;
  margin: 0;

}
header h1 img{
  width:170px;
  /* border:1px solid red; */
  margin-top: 12px;
}

header nav{
  float:right;
  margin-top:20px;
  width:60%;
  text-align:right

}
header nav li{
  font-size: 1.2em;
}

.content-header{
  margin:40px auto;
  font-size: 1.5em;
}
.search-header{
  margin:40px auto;
  padding-bottom: 10px;
  font-size: 1.5em;
  border-bottom:1.5px solid #337ab7;
}
.wrap-header{
  margin-bottom:20px;
}

.navbar-collapse{

}

.navbar-default{
  background: #fff;
  border: none;
}

.navbar-nav{
 
}


.jumbotron{
  height: 400px;
}



.container-fluid{
  margin:0;
  padding:0;
}

/*container*/
#container{
  overflow: hidden;
  clear: both;
  min-height: 680px;
}
/* 왼쪽 콘텐츠 */
#snb{ 
  width: 20%;
  float:left;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius:10px;
}

#snb h2{
  text-align:center;
}

#content{
  width: 75%;
  float: right;
  min-height: 800px;
}

#content h3{
  margin-bottom: 20px;
}

table.data{
  table-layout: fixed;
  width: 100%;
  border-top: 3px solid #337ab7;
  margin-bottom: 30px;

}
table.data thead th{
  background-color:#f2f2f2;

}
table.data th,table.data td{
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  text-align: center;
  
}


/*<----------------------------슬라이더---------------------------->*/
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d3e0f7;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #337ab7;
}


.bx-wrapper .bx-prev {
  right: 10px;
  background: url('http://localhost:8080/src/img/slide_prev.png') no-repeat;
  background-size: 32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background: url('http://localhost:8080/src/img/slide_prev_hover.png') no-repeat;
  background-size: 32px;
}



.bx-wrapper .bx-next {
  right: 10px;
  background: url('http://localhost:8080/src/img/slide_next.png') no-repeat;
  background-size: 32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background: url('http://localhost:8080/src/img/slide_next_hover.png') no-repeat;
  background-size: 32px;
}
/*<----------------------------푸터---------------------------->*/

.footer{
  clear:both;
  /* position: ; */
  bottom: 0;
  left:0;
  width:100%;
  background: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin-top: 10px;

}
.footer-item{
  /* border:1px solid red; */
  width: 1200px;
  margin:0 auto;
  padding-bottom: 5px;
}

.footer-item img{
  width:100px;
}
/*<----------------------------회원가입---------------------------->*/
.join-wrap{
  width: 600px;
  /* auto로 중앙정렬 */
  margin: 50px auto; 
  border: 1px solid #337ab7;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  
  /* background-color: #f2f2f2; */

}
.btn{
  width:100%;
  height: 40px;
  background-color: #337ab7;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active {
  color: #fff;
  background-color: #2368a5;
  text-decoration: none;
}

.btn-small{
  width:20%;

}

.join-input{

}

.join-input dl a{
}


.join-input .btn{
  width:100%;
}
.join-input .btn .btnImg{
  margin: 0;
  padding:0;
}
.join-input dl{
  margin-bottom:20px ;
}
.join-input dl dt{
  margin-bottom: 5px;
}
.join-input input[type="text"],.join-input input[type="password"]{
  border: 1px solid #337ab7;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  border-radius: 3px;
  height: 40px;
}

.join-input select{
  border: 1px solid #337ab7;
  width: 100%;
  display: block;
  height: 40px;
  margin-bottom: 5px;
}

.join-input input[type="checkbox"]{
  border: 1px solid #337ab7;
  margin-right: 5px;
}

.inblock{
  display: inline-block;
  /* vertical-align: middle; */
}

.searchForm{
  width: 100%;
  /* border:1px solid blue; */
  display: inline-block;
  margin:0;
  margin-bottom: 5px;
  padding:0;
  box-sizing: border-box;
  border:1px solid #337ab7; 
  
  /* vertical-align: middle; */
}
.join-input .searchForm .selectBox{
  width:20%;
  /* border:1px solid green; */
  float:left;
  align-items: center;
  border:none;
  border-radius: 0px;
  margin:0px;
  margin-bottom:1px;
}
.join-input .searchForm .selectBox:hover,:focus{
outline:none;
}
.join-input .searchForm .search{
  width:70%;
  float:left;
  border:none;
  border-radius: 0px;
  /* border:1px solid green; */
}

.tag{
  width: 70%;
  margin: 0 auto;
  /* border:1px solid red; */
  border:none;

  /* padding: */
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.tag-right{
  width: 70%;
  margin: 0 auto;
  /* border:1px solid red; */
  border:none;
  color:#337ab7;
  font-size:1em;
  text-align: right;
  /* padding: */
}
.buttonTag{
  font-size: 1.3em;
  /* border:1px solid red; */
  background-color: #d3e0f7;
  font-weight: bold;
  color:#337ab7;
  width: auto;
  padding:8px;
  border-radius: 15px;
  border:none;
  /* min-height: 40px; */
  margin: 10px;
}
.buttonTag:hover{
  background-color: #b3cdfa;

}

.searchForm2{
  width: 70%;
  height: 60px;
  /* border:1px solid blue; */
  /* display: inline-block; */
  margin:0 auto;
  /* text-align: center; */
  /* margin-bottom: 5px; */
  padding:0;
  /* box-sizing: border-box; */
  border:3.5px solid #337ab7; 
  border-bottom: 4px solid #337ab7;
  /* border:3px solid black;  */
  border-radius: 3px;
  /* margin-bottom: ; */
}
.join-input .searchForm2 .search{
  width:90%;
  height:100%;
  float:left;
  border:none;
  border-radius: 0px;
  /* border:1px solid red; */
}
.searchForm2 .btn{
  position: relative;
  width: 10%;
  height: 100%;
  background-color: #ffffff;
  /* background-color: #337ab7; */
  /* border:1px solid red; */
  border:none;
}
.searchForm2 .btn img{
  position: absolute;
  top:-2px;
  right:-3px;
  height: 58px;
}
.searchForm2 .left{
  float:left;
}





.searchForm .btn{
  position: relative;
  width: 10%;
  background-color: #ffffff;
  border:none;
}
.searchForm .btn:hover,
.searchForm .btn:focus,
.join-input .searchForm .btn:active{
outline: none;
}
.searchForm .btn img{
  position: absolute;

  top:0px;
  right:-1px;
  height: 41px;
}

.labelForm{
  /* border:1px solid red; */
  width:80%;
  float:right;
}
.labelForm ul{
  padding-left: 0px;
  list-style: none;
}
.clearFloat{
  clear: both;
}

.bottom-letter{
  margin-top:10px;
}
.bottom-letter a{
  color:black;
}
.bottom-letter a:hover{
  text-decoration: none;
}




.join-input .select{
  width: 20%;

}

/* .join-input .search{
  width:65%;
}

.join-input .button{
  width: 10%;
} */

/*form-group*/
.form-group{
  text-align: center;

}
.form-control{
  display: inline-block;
  width: 60%;
}

/*main*/
main{
  width: 70%;
  margin: 0 auto;
  padding-bottom:50px;

}

/*scroll-wrap*/
.scroll-wrap{
  /* border:1px solid #ccc; */
  background-color: #ffffff;
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}






















/*width 1016px 보다 작은 디바이스*/
@media (max-width: 1016px) {
  .hidden-phone{display:none;}
  

  #wrap{
    width: auto;
  }

  header nav{
    margin-top:10px;
  }

  .container-fluid{
    margin-right: 10px;
  }

  #container{
    padding: 10px;
    box-sizing: border-box;
  }

  main{
    width: auto;
    box-sizing: border-box;
    padding: 10px;

  }

  #snb{
    width: auto;
    float:none;
  }

  #content{
    width: auto;
    float:none;
    min-height: auto;
  }





}/*phon end*/

